
<% if @gallery %>
<h1><%= @gallery.title %> </h1>
 <% else%>
<h1>All Artwork </h1>
<% end %>

<div><% @artworks.each do |a|%>

    <li><%= link_to a.title, artwork_path(a) %> </li>
    <div style="width:400px; height:auto">
    <li> <%= image_tag(a.image) %> </li>
    </div>

<% end %>
        
</div>
<%= link_to "Back", galleries_path(@gallery) %>
