<% if !user_signed_in? %>
<h2>Sign Up or Log In to build your Gallery </h2>

<% else %>
<%= link_to "Edit Profile", edit_user_registration_path %> 

    <div><% @galleries.all.each do |g| %>
        <% if current_user.id == g.user_id %>
            <li><%= link_to g.title, gallery_path(g) %> </li>
        <% end%>
    <% end %></div>

<div><p>Click below to add to your Gallery </p>
<%= link_to "Add Gallery", new_gallery_path(@gallery) %></div><br> 

<div><%= button_to "Delete Account", user_registration_path, method: :delete %></div> 

<% end %>
